<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		
		<!-- 클래스 단위 -->

		<typeAlias type="com.kh.kdw.domain.MemberVo" alias="MemberVo"/>
		<typeAlias type="com.kh.kdw.domain.GBoardVo" alias="GBoardVo"/>
		<typeAlias type="com.kh.kdw.domain.MemberBoardVo" alias="MemberBoardVo"/>
		<typeAlias type="com.kh.kdw.domain.GReplyVo" alias="GReplyVo"/>
		
		<typeAlias type="com.kh.psj.domain.CityVo" alias="CityVo"/>
		<typeAlias type="com.kh.psj.domain.SchVo" alias="SchVo"/>
		<typeAlias type="com.kh.psj.domain.AirVo" alias="AirVo"/>
		<typeAlias type="com.kh.psj.domain.HotelVo" alias="HotelVo"/>
		<typeAlias type="com.kh.psj.domain.SchTitleVo" alias="SchTitleVo"/>
		<typeAlias type="com.kh.psj.domain.CartVo" alias="CartVo"/>
		<typeAlias type="com.kh.psj.domain.TipVo" alias="TipVo"/>
		<typeAlias type="com.kh.psj.domain.PsjPagingDto" alias="PsjPagingDto"/>
		<typeAlias type="com.kh.psj.domain.TipUpDownVo" alias="TipUpDownVo"/>
		<typeAlias type="com.kh.psj.domain.SearchDto" alias="SearchDto"/>

		<typeAlias type="com.kh.ljh.domain.CompanionVo" alias="CompanionVo"/>
		<typeAlias type="com.kh.ljh.domain.PagingDto" alias="PagingDto"/>
		<typeAlias type="com.kh.ljh.domain.PaginationDto" alias="PaginationDto"/>
		<typeAlias type="com.kh.ljh.domain.CompanionReplyVo" alias="CompanionReplyVo"/>
		

	</typeAliases>
</configuration>  