<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases><!-- 별칭 지정 -->
		
		<!-- 클래스 단위 -->
<!-- 		<typeAlias type="com.kh.domain.BoardVo" alias="BoardVo"/> -->
		<typeAlias type="com.kh.kdw.domain.MemberVo" alias="MemberVo"/>
		<typeAlias type="com.kh.kdw.domain.GBoardVo" alias="GBoardVo"/>
		<typeAlias type="com.kh.psj.domain.CityVo" alias="CityVo"/>
		<typeAlias type="com.kh.psj.domain.AirVo" alias="AirVo"/>
		<typeAlias type="com.kh.psj.domain.HotelVo" alias="HotelVo"/>
	</typeAliases>
</configuration>  